<div>
    <div data-dojo-attach-point="numberSpinner, focusNode" data-dojo-type="dijit.form.NumberTextBox" data-dojo-props="value: 8, smallDelta: 2, intermediateChanges: true, constraints: { min: 8, max: 18, places: 0 }" data-dojo-attach-event="onChange: onChange"></div>
    <div data-dojo-attach-point="slider" data-dojo-type="dijit.form.HorizontalSlider" data-dojo-props="value: 8, minimum: 8, maximum: 18, discreteValues: 6, intermediateChanges: true" data-dojo-attach-event="onChange: onSliderChange"></div>
</div>