table {
  border-collapse: collapse;
}
table.basicInfo th {
  text-align: right;
}
table.raceInfo td {
  text-align: center;
  background-color: black;
  color: white;
  border: none;
}
table.raceInfo td.attributeBonus:empty,
table.raceInfo td.attributePenalty:empty {
  min-width: 0px;
  padding: 0px;
  margin: 0px;
  background-color: #40ad48;
}
td {
  display: table-cell !important;
}
table.raceInfo td.attributeBonus {
  background-color: #40ad48;
  min-width: 55px;
  padding: 0px;
}
table.raceInfo td.attributePenalty {
  background-color: #a91c1f;
  min-width: 55px;
  padding: 0px;
  display: table-cell;
}
table.raceInfo td.halfWidthCell {
  width: 165px;
  padding: 0px;
}
table.raceInfo td.raceBonus1 {
  border-top: #3c3c3c solid 1px;
}
table.raceInfo td.raceBonus2 {
  border-bottom: #3c3c3c solid 1px;
}
table.raceInfo tr.feats td {
  background-color: #333333;
}
table.classInfo {
  background: #3c3c3c;
  width: 200px;
  color: white;
}
table.classInfo td {
  width: 50%;
  padding: 0px;
  border: 0px;
  text-align: center;
}
table.advancement th {
  color: #a81d1f;
  text-align: center;
  padding: 5px;
}
table.advancement td {
  border-right: #a81d1f 1px solid;
  border-bottom: #a81d1f 1px solid;
  text-align: center;
}
table.advancement td:last-child {
  border-right: none;
}
table.advancement.fullBuyInDisabled td:nth-last-child(-n+2) {
  border-right: none;
}
table.advancement tr:last-child td {
  border-bottom: none;
}
table.attributeSelector .dijitNumberTextBox {
  width: 25px;
  display: inline-block;
}
table.attributeSelector .dijitSliderH {
  display: inline-block;
  width: 100px;
}
table.attributeSelector tr.kom td {
  background: grey;
}
table.attributeSelector tr.kdm td {
  background: blue;
}
span.title {
  color: #a81d1f;
  font-weight: bold;
}
table.tracks td.hasChoice {
  font-weight: bold;
  text-decoration: underline;
}
.hidden {
  display: none;
  visibility: hidden;
}
.skillPanel .dijitStretch {
  width: 90px;
}
table.summaryTable {
  width: 285px;
  text-align: center;
}
table.summaryTable td {
  background: #333333;
  color: white;
}
table.summaryTable tr:last-child td {
  background: black;
}
table.summaryTable.offense tr:first-child td {
  background: #a81d1f;
}
table.summaryTable.offense tr:last-child td {
  background: #333333;
}
table.level1 tr:nth-of-type(n+3) td,
table.level2 tr:nth-of-type(n+4) td,
table.level3 tr:nth-of-type(n+5) td,
table.level4 tr:nth-of-type(n+6) td,
table.level5 tr:nth-of-type(n+7) td,
table.level6 tr:nth-of-type(n+8) td,
table.level7 tr:nth-of-type(n+9) td,
table.level8 tr:nth-of-type(n+10) td,
table.level9 tr:nth-of-type(n+11) td,
table.level10 tr:nth-of-type(n+12) td,
table.level11 tr:nth-of-type(n+13) td,
table.level12 tr:nth-of-type(n+14) td,
table.level13 tr:nth-of-type(n+15) td,
table.level14 tr:nth-of-type(n+16) td,
table.level15 tr:nth-of-type(n+17) td,
table.level16 tr:nth-of-type(n+18) td,
table.level17 tr:nth-of-type(n+19) td,
table.level18 tr:nth-of-type(n+20) td,
table.level19 tr:nth-of-type(n+21) td {
  background: gray;
}
