<div>
    <table>
        <tr>
            <th>KOM:</th>
            <td data-dojo-attach-point="kom"></td>
            <td class="hidden"><input data-dojo-attach-point="komOverride" data-dojo-type="dijit.form.CheckBox" id="komOverride"  /> <label for="komOverride">Override</label></td>
        </tr>
        <tr>
            <th>KDM:</th>
            <td data-dojo-attach-point="kdm"></td>
            <td class="hidden"><input data-dojo-attach-point="kdmOverride" data-dojo-type="dijit.form.CheckBox" id="kdmOverride"  /> <label for="kdmOverride">Override</label></td>
        </tr>
        <tr data-dojo-attach-point="ksmRow" class="hidden">
            <th>KSM:</th>
            <td data-dojo-attach-point="ksm"></td>
            <td><input data-dojo-attach-point="ksmOverride" data-dojo-type="dijit.form.CheckBox" id="ksmOverride"  /> <label for="ksmOverride">Override</label></td>
        </tr>
    </table>
    <br />
    <table class="attributeSelector">
        <tr data-dojo-attach-point="StrRow">
            <th>Str</th>
            <td data-dojo-attach-point="StrTotal"></td>
            <td data-dojo-attach-point="StrRace"></td>
            <td><div data-dojo-attach-point="Str" data-dojo-type="legend.form.AttributeSelector" data-dojo-attach-event="onChange: _onStrChange"></div></td>
        </tr>
        <tr data-dojo-attach-point="DexRow">
            <th>Dex</th>
            <td data-dojo-attach-point="DexTotal"></td>
            <td data-dojo-attach-point="DexRace"></td>
            <td><div data-dojo-attach-point="Dex" data-dojo-type="legend.form.AttributeSelector" data-dojo-attach-event="onChange: _onDexChange"></div></td>
        </tr>
        <tr data-dojo-attach-point="ConRow">
            <th>Con</th>
            <td data-dojo-attach-point="ConTotal"></td>
            <td data-dojo-attach-point="ConRace"></td>
            <td><div data-dojo-attach-point="Con" data-dojo-type="legend.form.AttributeSelector" data-dojo-attach-event="onChange: _onConChange"></div></td>
        </tr>
        <tr data-dojo-attach-point="IntRow">
            <th>Int</th>
            <td data-dojo-attach-point="IntTotal"></td>
            <td data-dojo-attach-point="IntRace"></td>
            <td><div data-dojo-attach-point="Int" data-dojo-type="legend.form.AttributeSelector" data-dojo-attach-event="onChange: _onIntChange"></div></td>
        </tr>
        <tr data-dojo-attach-point="WisRow">
            <th>Wis</th>
            <td data-dojo-attach-point="WisTotal"></td>
            <td data-dojo-attach-point="WisRace"></td>
            <td><div data-dojo-attach-point="Wis" data-dojo-type="legend.form.AttributeSelector" data-dojo-attach-event="onChange: _onWisChange"></div></td>
        </tr>
        <tr data-dojo-attach-point="ChaRow">
            <th>Cha</th>
            <td data-dojo-attach-point="ChaTotal"></td>
            <td data-dojo-attach-point="ChaRace"></td>
            <td><div data-dojo-attach-point="Cha" data-dojo-type="legend.form.AttributeSelector" data-dojo-attach-event="onChange: _onChaChange"></div></td>
        </tr>
    </table>
    Points: <span data-dojo-attach-point="pointBuySpent"></span>/26
</div>
