<div>
    <div data-dojo-attach-point="tabContainer" data-dojo-type="dijit.layout.TabContainer">
        <div data-dojo-attach-point="racePanel" data-dojo-type="legend.RacePanel" data-dojo-props="title: 'Race'"></div>
        <div data-dojo-attach-point="classPanel" data-dojo-type="legend.ClassPanel" data-dojo-props="title: 'Class'"></div>
        <div data-dojo-attach-point="trackPanel" data-dojo-type="legend.TrackPanel" data-dojo-props="title: 'Tracks'"></div>
        <div data-dojo-attach-point="attributePanel" data-dojo-type="legend.AttributePanel" data-dojo-props="title: 'Attributes'"></div>
        <div data-dojo-attach-point="skillPanel" data-dojo-type="legend.SkillPanel" data-dojo-props="title: 'Skill'"></div>
    </div>
</div>
