<div>
    <div data-dojo-attach-point="selectClass" data-dojo-type="dijit.form.Select" data-dojo-props="labelAttr:'name', sortByLabel: false" data-dojo-attach-event="onChange:_onClassChange"></div>
    <br /><br />
    <table class="classInfo">
        <tr class="value">
            <td data-dojo-attach-point="hitPoints"></td>
            <td data-dojo-attach-point="skills"></td>
        </tr>
        <tr class="label">
            <td>HP/Level</td>
            <td>SKILLS</td>
        </tr>
        <tr class="value">
            <td data-dojo-attach-point="kom"></td>
            <td data-dojo-attach-point="kdm"></td>
        </tr>
        <tr class="label">
            <td>KOM</td>
            <td>KDM</td>
        </tr>
    </table>
    <table class="trackSelection">
        <tr><th>Fast Track:</th><td><div data-dojo-type="dijit.form.Select" data-dojo-props="labelAttr:'name', sortByLabel: false, speed: 'fastTrack'" data-ddojo-attach-event="onChange:_onTrackChange" data-dojo-attach-point="fastTrack"></div></td></tr>
        <tr><th>Medium Track:</th><td><div data-dojo-type="dijit.form.Select" data-dojo-props="labelAttr:'name', sortByLabel: false, speed: 'mediumTrack'" data-ddojo-attach-event="onChange:_onTrackChange" data-dojo-attach-point="mediumTrack"></div></td></tr>
        <tr><th>Slow Track:</th><td><div data-dojo-type="dijit.form.Select" data-dojo-props="labelAttr:'name', sortByLabel: false, speed: 'slowTrack'" data-ddojo-attach-event="onChange:_onTrackChange" data-dojo-attach-point="slowTrack"></div></td></tr>
        <!--<tr><th>Full By In:</th><th data-dojo-attach-point="fullBuyIn"></th></tr>-->
    </table>
    <table data-dojo-attach-point="advancement" class="advancement level1">

    </table>
</div>
