<div>
    <div data-dojo-attach-point="selectRace" data-dojo-type="dijit.form.Select" data-dojo-props="labelAttr:'name', sortByLabel: false" data-dojo-attach-event="onChange:_onRaceChange"></div>
    <br /><br />
    <table class="raceInfo">
        <tr>
            <td rowspan="2"class="attributeBonus" data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point="attributeBonus1"></td>
            <td rowspan="2"class="attributeBonus" data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point="attributeBonus2"></td>
            <td rowspan="2"class="attributePenalty" data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point="attributePenalty"></td>
            <td data-dojo-attach-point="size" data-dojo-type="dijit.layout.ContentPane" class="halfWidthCell"></td>
        </tr>
        <tr>
            <td data-dojo-attach-point="type"></td>
        </tr>
        <tr>
            <td data-dojo-attach-point="raceBonus1" class="raceBonus1" colspan="4"></td>
        </tr>
        <tr>
            <td data-dojo-attach-point="raceBonus2" class="raceBonus2" colspan="4"></td>
        </tr>
        <tr class="feats">
            <td colspan="3" class="halfWidthCell">BONUS FEATS<br />(choose one)</td>
            <td data-dojo-attach-point="bonusFeats"></td>
        </tr>
    </table>
    <br />
    <div data-dojo-attach-point="racialTrack" class="hidden">
       <table class="classInfo">
            <tr class="value">
                <td data-dojo-attach-point="hitPoints"></td>
                <td data-dojo-attach-point="skills"></td>
            </tr>
            <tr class="label">
                <td>HP/Level</td>
                <td>SKILLS</td>
            </tr>
            <tr class="value">
                <td data-dojo-attach-point="kom"></td>
                <td data-dojo-attach-point="kdm"></td>
            </tr>
            <tr class="label">
                <td>KOM</td>
                <td>KDM</td>
            </tr>
        </table>
        <br />
        <table data-dojo-attach-point="advancement" class="advancement">
    </table>
    </div>
</div>
