<div>
    <table class="advancement tracks fullBuyInDisabled">
        <tr>
            <th>Level</th>
            <th data-dojo-attach-point="fastTrackHead"></th>
            <th data-dojo-attach-point="mediumTrackHead"></th>
            <th data-dojo-attach-point="slowTrackHead"></th>
            <th data-dojo-attach-point="fullBuyInTrack"></th>
        </tr>
        <tr>
            <td>1</td>
            <td data-dojo-attach-point="fastTrack1" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td data-dojo-attach-point="mediumTrack1" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="fullyByInTrack1" data-dojo-attach-event="onClick: _onTrackClick"></td>
        </tr>
        <tr>
            <td>2</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="slowTrack1" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>3</td>
            <td data-dojo-attach-point="fastTrack2" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>4</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="mediumTrack2" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="fullByInTrack2" data-dojo-attach-event="onClick: _onTrackClick"></td>
        </tr>
        <tr>
            <td>5</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="slowTrack2" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>6</td>
            <td data-dojo-attach-point="fastTrack3" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>7</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="mediumTrack3" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="fullByInTrack3" data-dojo-attach-event="onClick: _onTrackClick"></td>
        </tr>
        <tr>
            <td>8</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="slowTrack3" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>9</td>
            <td data-dojo-attach-point="fastTrack4" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>10</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="mediumTrack4" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="fullByInTrack4" data-dojo-attach-event="onClick: _onTrackClick"></td>
        </tr>
        <tr>
            <td>11</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="slowTrack4" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>12</td>
            <td data-dojo-attach-point="fastTrack5" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>13</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="mediumTrack5" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="fullByInTrack5" data-dojo-attach-event="onClick: _onTrackClick"></td>
        </tr>
        <tr>
            <td>14</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="slowTrack5" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>15</td>
            <td data-dojo-attach-point="fastTrack6" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>16</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="mediumTrack6" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="fullByInTrack6" data-dojo-attach-event="onClick: _onTrackClick"></td>
        </tr>
        <tr>
            <td>17</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="slowTrack6" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>18</td>
            <td data-dojo-attach-point="fastTrack7" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>19</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="mediumTrack7" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="fullByInTrack7" data-dojo-attach-event="onClick: _onTrackClick"></td>
        </tr>
        <tr>
            <td>20</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="slowTrack7" data-dojo-attach-event="onClick: _onTrackClick"></td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <div>
        <span class="title" data-dojo-attach-point="circleName"></span> &ndash; <span data-dojo-attach-point="circleText"></span>
        <br />
        <div data-dojo-attach-point="circleChoice" class="hidden">
            Choose one of the following (the choice is permanent): <br />
            <div data-dojo-attach-point="circleChoiceSelect" data-dojo-type="dijit.form.Select" data-dojo-attach-event="onChange: _onCircleChoiceSelect" data-dojo-props="labelAttr:'name', sortByLabel: false"></div>
            <span data-dojo-attach-point="circleChoiceText"></span>
        </div>
    </div>
</div>
