<div>
    <table class="advancement fullBuyInDisabled">
        <tr>
            <th>Level</th>
            <th data-dojo-attach-point="fastTrackHead"></th>
            <th data-dojo-attach-point="mediumTrackHead"></th>
            <th data-dojo-attach-point="slowTrackHead"></th>
            <th data-dojo-attach-point="fullBuyInTrack"></th>
        </tr>
        <tr>
            <td>1</td>
            <td data-dojo-attach-point="fastTrack1"></td>
            <td data-dojo-attach-point="mediumTrack1"></td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="fullyByInTrack1"></td>
        </tr>
        <tr>
            <td>2</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="slowTrack1"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>3</td>
            <td data-dojo-attach-point="fastTrack2"></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>4</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="mediumTrack2"></td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="fullByInTrack2"></td>
        </tr>
        <tr>
            <td>5</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="slowTrack2"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>6</td>
            <td data-dojo-attach-point="fastTrack3"></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>7</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="mediumTrack3"></td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="fullByInTrack3"></td>
        </tr>
        <tr>
            <td>8</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="slowTrack3"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>9</td>
            <td data-dojo-attach-point="fastTrack4"></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>10</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="mediumTrack4"></td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="fullByInTrack4"></td>
        </tr>
        <tr>
            <td>11</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="slowTrack4"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>12</td>
            <td data-dojo-attach-point="fastTrack5"></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>13</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="mediumTrack5"></td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="fullByInTrack5"></td>
        </tr>
        <tr>
            <td>14</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="slowTrack5"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>15</td>
            <td data-dojo-attach-point="fastTrack6"></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>16</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="mediumTrack6"></td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="fullByInTrack6"></td>
        </tr>
        <tr>
            <td>17</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="slowTrack6"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>18</td>
            <td data-dojo-attach-point="fastTrack7"></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>19</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="mediumTrack7"></td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="fullByInTrack7"></td>
        </tr>
        <tr>
            <td>20</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td data-dojo-attach-point="slowTrack7"></td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
